/* personal css reset file, based on elad shechter's reset 
 * (https://medium.com/@elad/normalize-css-or-css-reset-9d75175c5d1e) */

a{text-decoration: none; color:inherit;}
button{background-color: transparent; color: inherit; padding:0; background: transparent}
figure{margin:0;}
ul, ol, dd{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite{font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
