html{
  font-family: arial, sans-serif;
  font-size: small;
}

a, p {
  opacity: 0.9;
}


a:hover {
  text-decoration: underline;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
  font-size: 13px;
  align-items: center;
}

#header-right {
  display: flex;
  align-items: center;
}

#header a {
  padding: 0px 10px;
}

#apps {
  width: 20px;
  height: auto;
  opacity: 0.75;
}

#user {
  width: 32;
  height: auto;
  border-radius: 50%;
  opacity: 1.0;
}

#search {
  margin-bottom: 20px;
}

#main {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

#search button {
  padding: 2px;
  border: none;
  background-color: #e8e8e8;
  height: 36px;
  margin: 30px 4px 10px 4px;
  padding: 0px 20px 0px 30px;
  font-opacity: 0.7;
  opacity: 0.7;
  font-size: 14px;
}

#searchbar {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 582px;
  height: 44px;
  align-items: center;
}

input[type=text] {
  border: none;
  flex-basis: auto;
  flex-grow: 1;
  font-size: 16px;
  margin-right: 15px;
  height: 80%;
}


#search-glass {
  width: 15px;
  height: 15px;
  padding: 15px;
}

#logo {
  padding-bottom: 40px;
}

#main a {
  color: blue;
}


footer {
  display: grid;
  grid-template-areas: "country . " "left right";
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 25px 15px 25px;
  grid-gap: 1em;
  font-size: 14px;
  opacity: 0.65;
  background-color: #eee;
}

footer p {
  grid-area: country;
  justify-self: start;
  padding: 0px 10px;
}

footer a {
  padding: 0px 10px;
}

footer #footer-left {
  grid-area: left;
  justify-self: start;
}

footer #footer-right {
  grid-area: right;
  justify-self: end;
}
